
/__pycache__
/log
/HW01_HIK_Backup
/\#client/__pycache__
\#client/log/main.log
fRedisEx.sync-conflict-20250104-094501-KXNN4KO.py
main_cli.sync-conflict-20250103-123644-6I7N5OE.ini
main_cli.sync-conflict-20250104-094501-KXNN4KO.ini
main_cli.sync-conflict-20250104-094501-KXNN4KO.py
prc_BFS_ManualScan_1.py
prc_cli_manualscan111.py
prc_cli_playsound.sync-conflict-20250104-094501-KXNN4KO.ini
python-3.9.11-amd64.exe
stm_record.db
/0115set
*.pyc
